widget-1/node_modules/
widget-1/coverage/
widget-1/es/
widget-2/node_modules/
widget-2/coverage/
widget-2/es/
widget-3/node_modules/
widget-3/coverage/
widget-3/es/
app-1/node_modules/
app-2/node_modules/
